body
{
    font-family: 'Lato', sans-serif;
    background-color: #20063B;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #9AD1D4;
    border: 4px solid #000000;
}
#nav
{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    border-bottom: 4px solid #000000;
}
#socialmedia
{
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   color: #ffffff; 
   position: sticky;
   top: 0;
}
.fb
{
    float: left;
    font-size: 16px;
    padding: 10px;
    background-color: #4668b3;
    width: 180px;
    height: 100px;
    text-align: center;
    color: #ffffff;

}
.fb:hover
{
    background-color: #3557c2;
    color: #000000;
    border-radius: 100%;
    transition-delay: 100ms;
}
.fb::after
{

}
.ig
{
    float: left;
    font-size: 16px;
    padding: 10px;
    background-color: #BD5DC0;
    width: 180px;
    height: 100px;
    text-align: center;
    color: #ffffff;

}
.ig:hover
{
    background-color: #ac4cb0;
    color: #000000;
    border-radius: 100%;
    transition-delay: 100ms;
}
.tw
{
    float: left;
    font-size: 16px;
    padding: 10px;
    background-color: #3095d3;
    width: 180px;
    height: 100px;
    text-align: center;
    color: #ffffff;

}
.tw:hover
{
    background-color: #2084c2;
    color: #000000;
    border-radius: 100%;
    transition-delay: 100ms;
}
.yt
{
    float: left;
    font-size: 16px;
    padding: 10px;
    background-color: #F02748;
    width: 180px;
    height: 100px;
    text-align: center;
    color: #ffffff;

}
.yt:hover
{
    background-color: #e01637;
    color: #000000;
    border-radius: 100%;
    transition-delay: 100ms;
}
#content
{
    background-color: #C2F9BB;
    width: 772px;
    text-align: justify;
    color: #20063B;
    margin-left: auto;
    margin-right: auto;
    min-height: 700px;
    padding: 10px;
    border: 4px solid #000000;
}
#footer
{
    width: 1000px;
    background-color: #9AD1D4;
    color: #ffffff;
    text-align: center;
}